<!--
  Generated template for the StandingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar></ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group *ngFor="let division of allStandings">
      <ion-item-divider color="secondary">
        {{division.divisionName}}
      </ion-item-divider>
      <ion-item *ngFor="let team of division.divisionStandings">
          <ion-row>
            <ion-col>
              <h2 color="primary">{{team.teamName}}</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h4>Wins</h4>
            </ion-col>
            <ion-col>
              <h4>Losses</h4>
            </ion-col>
            <ion-col>
              <h4>Games</h4>
            </ion-col>
            <ion-col>
              <h4>SW</h4>
            </ion-col>
            <ion-col>
              <h4>SL</h4>
            </ion-col>
            <!--<ion-col>
              <h4>Diff</h4>
            </ion-col>           -->
          </ion-row>
          <ion-row>
            <ion-col>
              <h4>{{team.wins}}</h4>
            </ion-col>
            <ion-col>
              <h4>{{team.losses}}</h4>
            </ion-col>
            <ion-col>
              <h4>{{team.games}}</h4>
            </ion-col>
            <ion-col>
              <h4>{{team.setWon}}</h4>
            </ion-col>
            <ion-col>
              <h4>{{team.setLost}}</h4>
            </ion-col>
            <!--<ion-col>
              <h4>{{team.pointsDiff}}</h4>
            </ion-col>           -->
          </ion-row>          
      </ion-item>
    </ion-item-group>
  </ion-list>


</ion-content>
