page-team-detail {
    .badge-primary{
        background-color: #488aff
       
    }

    .badge-danger{
        background-color: #f53d3d
    }

    .padding-right-3{
        padding-right: 3px;
    }

}
